<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:h="http://java.sun.com/jsf/html">

<head>
    <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Welcome</title>
</head>
<body style="background-color:#d71502">

<div style="color: blanchedalmond;background-color: black;font-size: 45px">Boring</div>
<h:form>
    <div class="borderText" style="border-width:2px;border-color:blanchedalmond;margin:10px;width:18em;height: 15em;border-radius: 15px;color: blanchedalmond;font-size: 20px">
        <div>Vous êtes dans une routine, vous n'aviez rien de nouveau et vous ne savez pas vers qui et vers quoi vous dirigez ?</div><br />

        <div>Tentez l'expérience avec Boring !!!</div><br />

        <div>En rencontrant de nouvelles personnes, en ayant des activités et des goûts similaires, tchattez !</div><br />
    </div>

    <button type="button" class="btn btn-light">Connexion</button>
    <button type="button" class="btn btn-light">Inscription</button>

</h:form>

</body>
</html>
